<footer class="h-16 bg-[#020617] border-t border-[#1e293b] ">
    <div class="container mx-auto px-4 py-2 ">
        <div class="flex justify-between items-center">
            <div class="right">
                <h2 class="font-bold">GameZone</h2>
                <p class="text-[#94a3b8]">Your ultimate destination for discovering epic games</p>
            </div>
            <div class="left">
                <p class="text-[#94a3b8]">All rights reserved © 2026 GameZone.</p>
            </div>
        </div>
    </div>
</footer>