<footer class="bg-[#020617] border-t border-[#1e293b] ">
    <div class="container mx-auto px-4 py-4">
        <div
            class="flex flex-col justify-center items-center text-center md:text-start md:flex-row md:justify-between md:items-center">
            <div class="right">
                <h2 class="font-bold">GameZone</h2>
                <p class="text-[#94a3b8]">Your ultimate destination for discovering epic games</p>
            </div>
            <div class="left">
                <a href="https://www.linkedin.com/in/eslam--fouda/" target="_blank">
                    <p class="text-[#94a3b8]">All rights reserved © 2026 <span class="transition-all duration-300 hover:text-[#10b981]">Eslam Fouda</span></p>
                </a>
            </div>
        </div>
    </div>
</footer>